<form
  [formGroup]="getUserCredentialForm"
  class="form-shape"
  (ngSubmit)="onSubmit()"
>
  <ng-container *ngFor="let field of getFields">
    <mat-form-field>
      <mat-label>{{ field.label }}</mat-label>
      <input
        matInput
        [type]="field.type"
        [formControlName]="field.name"
        [placeholder]="field.placeholder"
      />
      <mat-error>{{
        setErrorMsg(field.name)
      }}</mat-error>
    </mat-form-field>
  </ng-container>
  <div class="box box-center">
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="blockButton()"
    >
      <mat-icon>person</mat-icon>
      Add user
    </button>
  </div>
</form>

<ng-template>
  <mat-spinner
    role="progressbar"
    color="accent"
    diameter="30"
  >
  </mat-spinner>
</ng-template>
