<form
  [formGroup]="getUserCredentialForm"
  class="form-shape"
  (ngSubmit)="onSubmit()"
>
  <div class="box box-gap-md">
    <mat-form-field
      *ngFor="let field of getCredentialFields"
    >
      <mat-label>{{ field.label }}</mat-label>
      <input
        matInput
        [type]="field.type"
        [formControlName]="field.name"
        [placeholder]="field.placeholder"
      />
      <mat-error>{{
        setErrorMsg(field.name)
      }}</mat-error>
    </mat-form-field>
  </div>
  <ng-container *ngFor="let field of getFields">
    <mat-form-field>
      <mat-label>{{ field.label }}</mat-label>
      <input
        matInput
        [type]="field.type"
        [formControlName]="field.name"
        [placeholder]="field.placeholder"
      />
      <mat-error>{{
        setErrorMsg(field.name)
      }}</mat-error>
    </mat-form-field>
  </ng-container>

  <div class="box box-gap-md">
    <mat-form-field>
      <mat-label>{{
        getDaysoffField.label
      }}</mat-label>
      <input
        matInput
        [type]="getDaysoffField.type"
        [formControlName]="getDaysoffField.name"
        [placeholder]="
          getDaysoffField.placeholder
        "
      />
      <mat-error>{{
        setErrorMsg(getDaysoffField.name)
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select
        matInput
        formControlName="role"
      >
        <mat-option
          *ngFor="let role of getRoles"
          [value]="role"
          >{{ role }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Select superior</mat-label>
    <mat-select formControlName="superiors">
      <ng-container
        *ngFor="
          let superior of getSuperiorsList;
          let i = index
        "
      >
        <mat-option [value]="superior.id"
          >{{ superior.name }}
          {{ superior.surname }}</mat-option
        >
      </ng-container>
    </mat-select>
  </mat-form-field>
  <div class="box box-center top-line">
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="blockButton()"
    >
      <mat-icon>person</mat-icon>
      Add user
    </button>
  </div>
</form>

<ng-template>
  <mat-spinner
    role="progressbar"
    color="accent"
    diameter="30"
  >
  </mat-spinner>
</ng-template>
