<form
  [formGroup]="getAccountForm"
  (ngSubmit)="onSubmit()"
  class="form-container"
>
  <ng-container
    *ngFor="let field of getAccountFormFields"
  >
    <mat-form-field>
      <mat-label>{{
        setLabel(field.name)
      }}</mat-label>
      <input
        matInput
        [type]="field.type"
        [placeholder]="field.placeholder"
        [formControlName]="field.name"
      />
      <mat-error>
        {{ setErrorMessage(field.name) }}
      </mat-error>
    </mat-form-field>
  </ng-container>
  <div class="padding-top">
    <mat-form-field class="box-inline">
      <mat-label>Password</mat-label>
      <input
        matNativeControl
        [type]="
          getIsVisible() ? 'text' : 'password'
        "
        placeholder="Assign new password"
        formControlName="password"
      />
      <mat-error>
        {{ setErrorMessage('password') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        matNativeControl
        [type]="
          getIsVisible() ? 'text' : 'password'
        "
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
      <mat-error>
        {{ setErrorMessage('confirmPassword') }}
      </mat-error>
    </mat-form-field>
    <button
      mat-icon-button
      (click)="onToggleVisibility()"
    >
      <mat-icon>
        {{
          getIsVisible()
            ? 'visibility_off'
            : 'visibility'
        }}
      </mat-icon>
    </button>
  </div>
  <mat-hint class="container">
    To change your credential, write password and
    confirm it
  </mat-hint>

  <div class="padding-top">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!isFormValid()"
    >
      Update
    </button>
  </div>
</form>
