<form
  [formGroup]="getPasswordForm"
  class="form-shape"
>
  <ng-container *ngFor="let field of getFields">
    <mat-form-field>
      <mat-label>
        {{ setLabel(field.name) }}
      </mat-label>
      <input
        matInput
        [type]="field.type"
        [formControlName]="field.name"
        [placeholder]="field.placeholder"
      />
      <mat-error>
        {{ setError(field.name) }}
      </mat-error>
    </mat-form-field>
  </ng-container>
  <div class="form-submit-button container">
    <button
      mat-raised-button
      color="primary"
      type="submit"
    >
      Change Password
    </button>
  </div>
</form>
