<form
  [formGroup]="getPasswordForm"
  class="form-shape form-gap"
  (ngSubmit)="onSubmit()"
>
  <ng-container
    *ngFor="let field of getFields; let i = index"
  >
    <mat-form-field>
      <mat-label>
        {{ setLabel(field.name) }}
      </mat-label>
      <input
        matInput
        [tabIndex]="i"
        [type]="field.type"
        [formControlName]="field.name"
        [placeholder]="field.placeholder"
      />
      <mat-error>
        {{ setError(field.name) }}
      </mat-error>
      <mat-error></mat-error>
    </mat-form-field>
  </ng-container>
  <div class="form-submit-button container">
    <button
      mat-raised-button
      color="primary"
      [tabindex]="getFields.length"
      *ngIf="!isLoading(); else Spinner"
      type="submit"
      [disabled]="buttonDisabled()"
    >
      Change Password
    </button>
  </div>
</form>

<ng-template #Spinner>
  <mat-spinner
    color="accent"
    role="progressbar"
    aria-valuemin="0"
    aria-valuemax="100"
  ></mat-spinner>
</ng-template>
