/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.box {
  display: flex;
  width: 100%;
  box-sizing: border-box;

  &-center {
    align-items: center;
    justify-content: center;
  }

  &-vertical-center {
    align-items: center;
  }

  &-horizontal-center {
    justify-content: center;
  }

  &-gap-xl {
    gap: 24px;
  }

  &-gap-md {
    gap: 16px;
  }

  &-gap-sm {
    gap: 12px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;

  @media only screen and (width < 400px) {
    * {
      gap: 12px;
      width: 100%;
    }
  }

  &-vertical {
    flex-wrap: nowrap;
    flex-direction: column;

    &-center {
      justify-content: center;
    }
  }

  &-horizontal {
    &-center {
      align-items: center;
    }
  }

}

.form {
  &-gap {
    gap: 12px;
  }

  &-shape {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    @media only screen and (width < 400px) {
      button {
        min-height: 80px;
      }
    }
  }

  &-submit-button {
    margin-top: 1rem;

    @media only screen and (height < 400px) {
      margin-top: 25%;
    }
  }
}

.error-snackbar {
  .mdc-snackbar__surface {
    color: white;
    background: #F44336 !important;
  }
}