.field {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
}

.drawer {
  height: 100dvh;

  &-menu {
    padding: 2rem 1rem;

    a {
      display: flex;
      align-items: center;
    }
  }
}