<mat-sidenav-container
  style="z-index: 1000"
  hasBackdrop="true"
  class="drawer"
>
  <mat-sidenav
    #drawer
    mode="over"
    class="drawer-menu"
  >
    <a
      *ngFor="let link of getLinks"
      mat-button
      [routerLink]="link.href"
      [color]="setColor(link.label)"
    >
      {{ link.label }}
      <mat-icon
        [fontIcon]="link.icon"
        [color]="setColor(link.label)"
      ></mat-icon>
    </a>
    <a
      mat-button
      color="warn"
    >
      Logout
      <mat-icon fontIcon="logout"></mat-icon>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="field"
      (mouseenter)="drawer.toggle()"
    ></div>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
